// style.module.scss

.overlay {
  overflow: hidden;
  width: 100%;
  height: 150%;
  background: rgba(39, 14, 141, 0.8);
  position: absolute;
  top: -360px;
  left: 0px;
  z-index: 200;
  backdrop-filter: blur(3px);
}

.dropdownContainer {
  color: white;
  bottom: 0px;
  left: 0px;
  z-index: 300;
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  padding: 24px 12px 0px 12px;
  border-radius: 24px 24px 0px 0px;
  background: rgb(0, 13, 61);
  max-height: 578px;
  overflow-x: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  margin-bottom: 24px;
}

.closeIcon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
