.dropdown {
  font-size: 12px;
}

.dropdown-toggle {
  padding: 0px 10px;
  height: 20px;
  position: relative;
  color: #000000;
  cursor: pointer;
  width: 50%;
  margin-left: 50%;
  margin-bottom: 10px;
  z-index: 1;
}
.dropdown-heading {
  padding: 0px 10px;
  height: 20px;
  margin-left: -7%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0;
  justify-content: space-between;
}

.dropdown-menu-popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 97%;
  background-color: #f0f0f0;
  border-radius: 0 0 4px 4px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.dropdown-item {
  align-items: center;
  display: flex;
}

.arrowIcon {
  transform: rotate(90deg);
  width: 6px;
  height: 12px;
  margin-left: 10px;
}

.select {
  padding: 2px 5px 0px 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select div:hover {
  color: #3b82f6;
}
