@import "../../styles/var";

.img {
  height: 12px;
}
.icon {
  height: 48px;
  width: 48px;
  border-radius: 150px;
  background: #000d3d;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price-in-usd {
  color: #fff;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.asset-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
.your-bal {
  color: rgba(255, 255, 255, 0.6);
  font-family: Lexend;
  font-size: 12px;
}
.balances {
  color: white;
}
.balance-field {
  display: flex;
  flex-direction: column;
}
.balance {
  font-size: $xl;
  display: flex;
  gap: 8px;
  font-family: Lexend;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.balances {
  margin-bottom: 24px;
}
.denom {
  color: var(--grey-grey-700, #556578);
}
.inUsd {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
