.DS_Store
yarn-error.log
.idea
.vscode

.gitsecret
.github
**/node_modules
**/dist
**/build
**/.git
**/.cache
**/coverage

packages/proto-types/**/*.ts
packages/proto-types/**/*.js
packages/proto-types/**/*.mjs
packages/proto-types/**/*.cjs
packages/proto-types/**/*.map
!packages/proto-types/proto-types-gen/**/*.ts
!packages/proto-types/proto-types-gen/**/*.js
!packages/proto-types/proto-types-gen/**/*.mjs
!packages/proto-types/proto-types-gen/**/*.cjs
!packages/proto-types/proto-types-gen/**/*.map

packages/proto-types/proto-types-gen/src
