**/*.scss
**/*.html
**/*.json
**/*.png
**/*.svg
**/*.ttf
**/*.secret
**/*.md
**/*.py
.DS_Store

node_modules

dist/*
prod/*

yarn.lock
Podfile.lock
build.gradle

injected-provider.bundle.js

.gitsecret/*
*.styl
.github/*
