**/*.scss
**/*.html
**/*.json
**/*.png
**/*.svg
**/*.ttf
**/*.secret
**/*.md
.DS_Store

node_modules

dist/*
prod/*
build/*

yarn.lock
Podfile.lock
build.gradle

injected-provider.bundle.js

.gitsecret/*
*.styl
.github/*

**/*.proto

packages/proto-types/src/*
!packages/proto-types/src/index.ts
