[submodule "packages/extension/src/keplr-torus-signin"]
	path = packages/extension/src/keplr-torus-signin
	url = https://github.com/chainapsis/keplr-torus-signin.git
[submodule "obi-wallet/libs/proxy/proxy_contract"]
	path = obi-wallet/libs/proxy/proxy_contract
	url = git@github.com:obi-wallet/proxy_contract.git
