.DS_Store
.idea
.vscode
node_modules
dist
releases
prod
.gitsecret/keys/random_seed
!*.secret
packages/extension/src/config.var.tsx

yarn-error.log

build
packages/extension/src/config.ui.var.tsx

.cache

coverage
