.DS_Store
.idea
.vscode
node_modules
dist
prod
.gitsecret/keys/random_seed
!*.secret
packages/extension/src/config.var.tsx

yarn-error.log

build
packages/extension/src/config.ui.var.tsx

.cache

coverage

packages/proto-types-gen/src/*
packages/proto-types/**/*.ts
packages/proto-types/**/*.js
packages/proto-types/**/*.mjs
packages/proto-types/**/*.cjs
packages/proto-types/**/*.map
