[submodule "packages/mobile/src/keplr-wallet-mobile-private"]
	path = packages/mobile/src/keplr-wallet-mobile-private
	url = https://github.com/chainapsis/keplr-wallet-mobile-private.git
	branch = main
