.DS_Store
.idea
.vscode
node_modules
dist
prod
.gitsecret/keys/random_seed
!*.secret

yarn-error.log

build

.cache

coverage

.watchman-cookie-*

packages/proto-types/**/*.ts
packages/proto-types/**/*.js
packages/proto-types/**/*.mjs
packages/proto-types/**/*.cjs
packages/proto-types/**/*.map
!packages/proto-types/proto-types-gen/**/*.ts
!packages/proto-types/proto-types-gen/**/*.js
!packages/proto-types/proto-types-gen/**/*.mjs
!packages/proto-types/proto-types-gen/**/*.cjs
!packages/proto-types/proto-types-gen/**/*.map

packages/proto-types/proto-types-gen/src
