**/*.png
**/*.svg
**/*.ttf
**/*.secret
**/*.md
.DS_Store

node_modules

dist/*
prod/*
build/*

yarn.lock
Podfile.lock
build.gradle

injected-provider.bundle.js

.gitsecret/*
*.styl
.github/*

**/*.proto

.eslintignore
.prettierignore

packages/proto-types/!(proto-types-gen)/**/*.ts
packages/proto-types/!(proto-types-gen)/**/*.js
packages/proto-types/!(proto-types-gen)/**/*.mjs
packages/proto-types/!(proto-types-gen)/**/*.cjs
packages/proto-types/!(proto-types-gen)/**/*.map
packages/proto-types/outputHash

package.json
tsconfig.json
