@@ -1,11 +0,0 @@
**/*.png
**/*.svg
**/*.ttf
**/*.secret
**/*.md
.DS_Store

node_modules

dist/*
prod/*
build/*

yarn.lock
Podfile.lock
build.gradle

injected-provider.bundle.js

.gitsecret/*
*.styl
.github/*

**/*.proto

.eslintignore
.prettierignore

packages/proto-types/src/*

package.json
tsconfig.json
