.container {
  width: 100%;
  height: 76px;
  background: white;
  padding: 16px;
  cursor: pointer;

  border-top: #e9ecef solid 1px;

  &:last-of-type {
    border-bottom: #e9ecef solid 1px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 14px;
    color: #525f7f;
    margin: 0;
  }

  p {
    font-size: 14px;
    color: #8898aa;
    margin: 0;
  }
}
