@import "../../styles/var";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-account {
  flex: 5;
  padding: $layout-margin;

  background-color: white;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.container-txs {
  flex: 4;
  padding: $layout-margin;
}

.menu-img {
  width: auto;
  height: 100%;
}
