@import "../../styles/var";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.inner-container {
  padding: 0 $layout-padding $layout-padding;
  flex: 1;
}
