.depositModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.depositTitle {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.depositSubtitle {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.depositWarning {
  margin: 24px 0px;
  //   margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
  border-radius: 12px;
  background: rgba(255, 62, 62, 0.25);
  box-shadow: 0px -10px 30px 0px rgba(255, 62, 62, 0.1) inset,
    0px 1px 2px 0px rgba(255, 62, 62, 0.25) inset,
    0px -1px 2px 0px rgba(255, 62, 62, 0.25) inset;
  backdrop-filter: blur(15px);
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 24px;
  font-weight: 400;
}
