.tab-container {
  cursor: pointer;
  font-size: 13px;
  align-items: center;
  color: var(--grey-white, #fff);
}

.tab-bar {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background: rgba(255, 255, 255, 0.12);
  height: 38px;
  padding: 2px;
  border-radius: 12px;
  display: flex;
  margin: 18px 0px;
  justify-content: space-between;
  align-items: center;
}

.tab {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 32px;
  position: relative;
}

.tab:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.tab-container {
  cursor: pointer;
  font-size: 13px;
  align-items: center;
  color: var(--grey-white, #fff);
}
