@import "../../styles/var";

.header {
  height: $header-height;
  margin: 0 $base-section-padding !important;
  background-color: white;

  .chain-icon {
    height: 30px;
  }
}

.fake {
  z-index: -1000;
  position: absolute;
  right: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
}

.dropdown {
  min-width: 160px;
}
