.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -8px;
  width: 100vw;
  height: 100vh;
  background-color: #f5365c;
  color: white;
}

.inner {
  text-align: center;
}
