.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -8px;
  width: 100vw;
  height: 100vh;
  background-color: #f0214b;
}

.inner {
  display: flex;
  align-items: left;
  gap: 54px;
  text-align: left;
  padding: 24px;
  max-width: 640px;
}

.image {
  margin-bottom: 25px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
}

.description {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.005em;
  margin: 28px 0;
  color: #ffffff;
}

.advanced {
  background-color: #f0214b;

  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: -0.005em;

  width: 149px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.link {
  appearance: none;
  border: 0;
  padding: 0;
  background: transparent;
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: -0.005em;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .inner {
    flex-direction: column;
    text-align: center;
  }

  .image {
    margin: 0 auto;
    max-width: max(60%, 260px);
  }

  .title {
    font-size: 32px;
    line-height: 39px;
  }

  .description {
    max-width: max(75%, 320px);
    margin: 20px auto;
  }
}
