.form-container {
  height: 100%;
}

.form-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chain-selector {
  width: 100%;
  height: 46px;

  button {
    width: 100%;
  }

  :global(.dropdown-menu.show) {
    width: 100%;
  }
}

.alert {
  display: flex;
  border: solid 1px #9092b6;
  background-color: #ffffff;
  color: #32325d;

  i {
    font-size: 24px;
    margin-right: 8px;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    color: #32325d;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
}
