.container {
  background: transparent;
  .autoButtonGroup {
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    .label {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: white;
      margin-right: 0.325rem;
    }
  }
}
