@import "../../../styles/var";

:global {
  .button,
  .button[disabled] {
    color: black;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 12px;
    background: #e0e2e4;

    &:hover,
    &:focus {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.15)
      );
    }

    &.xsmall {
      font-size: 12px;
    }

    &.small {
      font-size: 16px;
    }

    &.large {
      font-size: 24px;
    }

    &.xlarge {
      font-size: 28px;
    }

    @for $i from 1 through length($color-names) {
      &.#{nth($color-names, $i)} {
        background: nth($colors, $i);

        color: white;
      }
    }
  }
}
