.hr {
  background-color: gray;
  margin: 0;
  height: 1px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.msgContainer {
  flex: 1;

  hr {
    margin: 8px 0;
  }

  .msg {
    display: flex;
    flex-direction: row;
    display: flex;
    padding: 12px 18px;
    align-items: center;
    gap: 144px;
    align-self: stretch;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    .contentContainer {
      display: flex;
      flex: 1;
      flex-direction: column;

      .contentTitle {
        font-size: 16px;
        font-weight: bold;
      }

      .content {
        color: #fff;
        font-family: Lexend;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        opacity: 0.6;
      }
    }
  }
}

.ethLedgerBlindSigningWarning {
  padding: 20px 0;
  background: #f7f9fc;
  border-radius: 6px;

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #323c4a;
    margin-bottom: 10px;
    margin-left: 28px;
  }

  .list {
    font-size: 14px;
    line-height: 20px;
    color: #566172;
    padding-inline-start: 36px;
    margin-bottom: 0;
  }
}
.cards {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 144px;
  align-self: stretch;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
}
