.rank {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);

  top: 6px;
  left: 0;

  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;

  color: white;
  border-radius: 1000px;
}

.voting-power {
  width: 220px;
}

.commission {
  width: 160px;
}
