**/*.png
**/*.svg
**/*.ttf
**/*.woff
**/*.woff2
**/*.secret
**/*.md
**/*.log
**/*.webm
**/*.txt
**/*.html
.DS_Store

.gitignore

node_modules

dist/*
prod/*
build/*

noop-keplr-wallet-private/build

yarn.lock

noop-alt-sign-in
