@charset "utf-8";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

$radius-small: 2px;
$radius: 6px;
$radius-large: 10px;

@import "../../../../node_modules/bulma/bulma";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

html {
  background-color: #ecf0f8;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none;
}
