.searchContainer {
  margin: 12px;
  display: flex;
  align-items: center;
  .searchBox {
    display: flex;
    padding: 5px;
    flex: 1;
    background-color: #f2f3f6;
    border-radius: 4px;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    img {
      width: 16px;
      height: 16px;
    }
    input {
      border: none;
      outline: none;
      background: transparent;
      &::placeholder {
        color: #525f7f;
      }
      flex-grow: 1;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupContainer {
  position: absolute;
  width: 320px;
  margin: auto;
  height: 495px;
  background-color: #fff;
  z-index: 200;
  bottom: 40px;
  left: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 20px #585858;

  .options-label {
    margin-left: 5px;
  }
  img {
    margin: 0 auto;
    width: 50%;
    display: block;
    border-radius: 500px;
    margin-top: 10px;
  }
  .infoContainer {
    h3 {
      color: #3b82f6;
      margin-bottom: 0;
    }
    p,
    form {
      font-size: 14px;
      color: #525f7f;
    }
    p {
      margin-bottom: 0.8rem;
    }
    p:nth-of-type(2) {
      margin-bottom: 0 !important;
    }
  }
  button {
    padding: 14px;
    font-size: medium;
    color: #fff;
    background-color: #3b82f6;
    border: none;
    width: 282px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.lockedInnerContainer {
  text-align: center;
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
