.container {
  width: 100%;
  height: 100%;
  color: #252e3d;

  margin-bottom: 12px;

  .title {
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }

  .count {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;

    margin-right: 8px;

    /* Gray/Gray 200 */
    color: #c6c6cd;
  }

  .rotate {
    transform: rotate(180deg);
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.clickable {
  cursor: pointer;
}
