@import "../../styles/var";

.activityContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  background-color: #fff;
  margin: 0 calc(#{$layout-padding} * -1) calc(#{$layout-padding} * -1);
}

.heading {
  border-bottom: 1px solid #f2f3f6;
  color: #525f7f;
  padding: 8px 16px;
  display: flex;

  .settings {
    margin: auto 0;
    margin-left: auto;
    cursor: pointer;
  }

  .deleteIcon {
    margin: auto 0;
    cursor: pointer;

    .clearAll {
      margin: auto 2vw;
      align-self: flex-end;
      display: inline;
      font-weight: 400;
    }

    &:hover {
      color: #3b82f6;
      img {
        filter: invert(44%) sepia(82%) saturate(2717%) hue-rotate(202deg)
          brightness(100%) contrast(94%);
      }
    }
  }
}

.settings {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-left: auto;
  margin-right: 16px;
  font-weight: 400;
  &:hover {
    color: #3b82f6;
  }
}
