.container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.inner-field {
  cursor: pointer;
  color: white;
  background: transparent;
  border: 0px;
  border-radius: 18px;
  display: flex;
  padding: 18px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.inner-field:hover {
  border-radius: 12px;
  background: var(--Indigo---Fetch, #5f38fb);
}
.optins-icon {
  width: 18px;
  height: 18px;
}
