:root
  --color-primary #5064fb
  --color-link #5064fb

.suggest-chain-example-table {
    table {
        thead {
            tr {
                th {
                    min-width: 12rem;
                }
            }
        }
    }
}
