.isLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.proposalContainer {
  margin-top: 16px;
  padding: 0 8px;
  height: 380px;
  overflow: scroll;
  border: 1px solid #e5e7e6;
  border-radius: 8px;

  .resultText {
    color: #808da0;
    font-weight: 400;
    font-size: 15px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
      text-align: center;
    }
  }
}
