$popup-size-width: 360px;
$popup-size-height: 580px;

$header-height: 54px;

$layout-margin: 16px;

$primary-color: #604ffd;
$link-color: #28a6f4;
$success-color: #35e84e;
$warning-color: #ffca00;
$error-color: #f71457;

$colors: $primary-color, $link-color, $success-color, $warning-color,
  $error-color;
$color-names: primary, link, success, warning, error;
