$primary-color: #1890ff;
$link-color: #1890ff;
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;

$colors: $primary-color, $link-color, $success-color, $warning-color, $error-color;
$color-names: primary, link, success, warning, error;
