$popup-size-width: 360px;
$popup-size-height: 580px;

$header-height: 80px;

$layout-margin: 16px;

$primary-color: #2f54eb;
$link-color: #1890ff;
$success-color: #eb2f96;
$warning-color: #fa8c16;
$error-color: #f5222d;

$colors: $primary-color, $link-color, $success-color, $warning-color,
  $error-color;
$color-names: primary, link, success, warning, error;
