// .container {
//   height: 100%;

//   display: flex;
//   flex-direction: column;

//   .inner-top-container {
//     display: flex;

//     min-height: 43px;
//   }

//   .form-container {
//     flex: 1;

//     display: flex;
//     flex-direction: column;
//   }
// }
@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
}
