.line-graph {
  height: 118px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  color: white !important;
  margin-bottom: -9px;
}
.graph-container {
  // position: absolute;
  width: 335px;
}

.errorText {
  justify-content: center;
  display: flex;
  margin-top: 44px;
  color: #fa8f6b;
}
