.pContentScroll {
  max-height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .pHeading {
    display: flex;
    justify-content: space-between;

    .pTitle {
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      margin-bottom: 8px;
      color: #525f7f;
      &::first-letter {
        text-transform: capitalize;
      }
    }

    .pId {
      font-weight: 400;
      font-size: 14px;
      margin: -5px 0 0;
      color: #525f7f;
    }
  }

  .pDesc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    color: #525f7f;

    .pAnchor {
      text-decoration: underline;
    }
  }
}

.closed {
  max-height: 100%;
}

.pLinkContainer {
  margin-top: 8px;

  .pLink {
    color: #3b82f6;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    cursor: pointer;
    margin: auto 0;
  }
}

.pVotingDate {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;

  .pVotingHead {
    font-weight: 600;
    color: #525f7f;
    line-height: 16px;
    font-size: 14px;
    margin: 0 0 4px;
  }

  .pVotingEnd {
    font-weight: 400;
    color: #525f7f;
    line-height: 16px;
    font-size: 14px;
  }
}

.voteContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: auto;
}

.endBody {
  margin-top: auto;
}

.button {
  padding: 8px;
  color: #fff;
  text-align: center;
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  width: 100%;
  margin: 16px 0 0;
}

.pContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4px;

  .isLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
}
