.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 531px;
  width: 100%;
  background: black;
  opacity: 0.5;
}

.popup {
  width: 310px;
  z-index: 2;
  position: absolute;
  border: solid #dee2e6 1px;
  background-color: #ffffff;
  margin: 20px 15px;
  border-radius: 15px;
  padding-bottom: 10px;
  top: 30%;
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // padding: 0px 20px;
  h4 {
    // border-bottom: solid #DEE2E6 2px;
    padding: 0 20px 10px 20px;
    color: #525f7f;
    margin: 10px 0 0 0;
    font-size: 18px;
    text-transform: capitalize;
  }

  .textContainer {
    padding: 0 15px;
    font-size: 14px;
    color: #808da0;
    text-align: center;
    label {
      margin-left: 10px;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #dee2e6 2px;
    align-items: center;

    img {
      width: 8px;
      height: 8px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 15px;
  button {
    margin-left: 8px;
    padding: 5px 10px;
    border: solid #3b82f6 1px;
    border-radius: 5px;
    color: #3b82f6;
    background-color: #ffffff;
    cursor: pointer;
  }
}
.contactsContainer {
  .displayText {
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #525f7f;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }
  button {
    border: 2px solid #3b82f6;
    padding: 7px 18px;
    background-color: #fff;
    border-radius: 4px;
    color: #3b82f6;
    cursor: pointer;
    font-weight: 600;
  }
}
