.inner-container {
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  button {
    margin-bottom: 16px;
  }
}

.sub-content {
  margin-top: 34px;

  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #9092b6;
}
