@import "../../styles/var";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;

  .mnemonic {
    font-family: "Courier Prime", serif;
    font-size: 18px;
    letter-spacing: -0.36px;

    padding: 20px 30px;
    box-shadow: none;
    text-align: center;

    &[disabled] {
      background-color: white;
      border-color: #dbdbdb;
      color: #363636;
    }
  }

  .button:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.intro {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  margin-bottom: 12px;

  .sub-intro {
    font-weight: normal;
    font-size: 18px;
  }
}
