@import "~bulma/sass/utilities/_all";

.container {
  width: 100%;
  padding: 24px;

  text-align: center;

  svg {
    width: 50%;
    height: 50%;
  }

  &.success {
    svg {
      color: $success;
    }
  }

  &.error {
    svg {
      color: $danger;
    }
  }

  .title {
    font-size: 28px;
    padding: 8px 0;
  }

  .sub-title {
    font-size: 16px;
    padding-bottom: 8px;
    color: $grey;
  }
}
