@import "../../../styles/var";

:global {
  .headerMain {
    width: 100%;
    height: $header-height;

    // position: relative;
    z-index: 100;
    background: transparent;
    backdrop-filter: blur(10px);
    font-size: 16px;
    color: white;
    &.fixed {
      // position: fixed;
      background: transparent;
    }
  }

  .headerMenuLeft {
    position: absolute;
    height: $header-height;
    top: 0;
  }

  .headerSection {
    flex: 1;
    height: $header-height;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerMenuRight {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: $header-height;
    top: 0;
    right: 0;
  }
}
