@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.formInnerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chainSelector {
  width: 100%;
  height: 46px;

  button {
    width: 100%;
  }

  :global(.dropdown-menu.show) {
    width: 100%;
  }
}

.alert {
  display: flex;
  border: solid 1px #9092b6;
  background-color: #ffffff;
  color: #32325d;

  i {
    font-size: 24px;
    margin-right: 8px;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    color: #32325d;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
}

.bridgeLimit {
  padding: 10px;
  text-align: center;
  background-color: rgb(223, 223, 223);
  margin-bottom: 20px;
}

.loaderScreen {
  text-align: center;
  position: relative;
  top: 45%;
}

.addressSelector {
  overflow-wrap: anywhere;
  font-size: small;
  margin-top: 7px;
  margin-bottom: 15px;
  cursor: pointer;
  text-decoration: underline;
  color: white !important;
}
.addressSelector:hover {
  color: #555555;
}

.history-icon {
  cursor: pointer;
  position: fixed;
  height: 25px;
  width: 25px;
  top: 18px;
  right: 12px;
}

.bHistory {
  display: flex;
  padding: 10px;
  line-height: 20px;
  justify-content: space-between;
  margin: 12px 0;
  background: #ffffff;
  .hContent {
    width: 83.5%;
    .sId {
      font-weight: 400;
      font-size: 10px;
      color: #808da0;
      margin: 0;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .hTitle {
      font-weight: 400;
      padding-bottom: 10px;
      font-size: 16px;
      color: #525f7f;
      margin: 0;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
      &::first-letter {
        text-transform: capitalize;
      }
    }

    .hDesc {
      font-weight: 400;
      font-size: 15px;
      color: #808da0;
      margin: 0;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .hStatus {
    display: flex;
    width: 16.5%;
    margin-top: 2px;
    position: relative;
  }

  .statusButton {
    display: flex;
    padding: 3px;

    .ethLogo {
      height: 20px;
      display: flex;
      margin-right: 1px;
    }

    .fetLogo {
      height: 15px;
      display: flex;
      margin: 2px 4px 0 2px;
    }

    .status {
      display: flex;
      height: 20px;
    }
  }

  .arrowIcon {
    transform: rotate(90deg);
    margin: -5px 0 0 15px;
  }
}

.refresh {
  height: 20px;
  margin: 22px;
  cursor: pointer;
}
.input {
  font-size: 14px;
  box-shadow: none !important;
  background: transparent !important;
  border: none;
  color: white;
  font-weight: bold !important;

  &:focus {
    box-shadow: none !important;
    background: transparent !important;
    border: none;
    color: white !important;
    font-weight: bold;
  }
}
.input::placeholder {
  color: white;
  opacity: 1 !important;
}
.hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 32px 0px;
}
