.pinWalletArrow {
  position: absolute;
  right: 18%;
  top: 1%;
}
.pinWallet {
  position: absolute;
  right: 5%;
  top: 55px;
  height: 291px;
  width: 347px;
}
.content {
  // height: 534px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
