.container-name {
  display: flex;
  flex-direction: row;
}

.name {
  font-size: 20px;
  color: #32325d;
  font-weight: bold;
}

.container-account {
  display: flex;
  flex-direction: row;
}

.address {
  border: solid 1px #e6e6e6;
  border-radius: 100px;
  padding: 0 16px;

  font-size: 12px;
  color: #474747;

  cursor: pointer;
}

:global(.popper) {
  font-size: 14px;
  min-width: 140px;
  text-align: center;
}

.unsupported-key-icon {
  width: 100%;
  text-align: center;
}
