@import "../../styles/var";

.container-asset {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 14px 0;

  .title {
    font-size: 14px;
    letter-spacing: -0.31px;
    text-align: center;
    color: #4a4a4a;
  }

  .fiat {
    font-size: 36px;
    text-align: center;

    letter-spacing: -0.8px;
    color: black;
  }

  .amount {
    position: relative;
    display: flex;

    font-size: 18px;
    text-align: center;

    letter-spacing: -0.4px;
    color: #8f8f8f;
  }

  :global(.popper) {
    font-size: 14px;
    min-width: 140px;
  }
}

.container-chart {
  position: relative;

  .center-text {
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .big {
      font-size: 13px;
      color: #32325d;
    }

    .small {
      font-size: 20px;
      color: #32325d;
      font-weight: bold;
    }

    .indicator-icon {
      position: absolute;
      width: 100%;
    }
  }

  canvas {
    position: relative;
  }
}

.legend {
  display: flex;
  width: 100%;

  .label {
    letter-spacing: -0.3px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .value {
    letter-spacing: -0.3px;
    flex: 1;
    display: flex;
    font-weight: bold;
  }
}
