@import "../../styles/var";

.right {
  height: $header-height;
  padding-right: $layout-padding;

  display: flex;
  flex-direction: column;

  .sign-out {
    font-size: 20px;
    padding: 0 8px;

    i {
      cursor: pointer;
      color: #8f8f8f;

      &:hover {
        color: black;
      }
    }
  }
}

.container-account-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 360px - 2 * $main-card-padding;
}

.card {
  margin-bottom: $layout-margin;

  &:last-of-type {
    margin-bottom: 0;
  }

  :global(.card-body) {
    padding: $main-card-padding;
  }
}

.tokenTitle {
  font-weight: 600;
  font-size: 20px;
  color: #525f7f;
  margin-bottom: 18px;
}

.tokenContainnerInner {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .tokenContainer {
    display: flex;
    align-items: center;
    .tokenImg {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
    .tokenName {
      font-size: 15px;
      font-weight: 400;
      margin-right: 6px;
      color: #808da0;
    }
    .tokenBalance {
      font-size: 15px;
      flex: 1;
      color: #808da0;
    }
  }
}
