@import "../../styles/var";

.container-tx-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .button {
    flex: 1;
    padding-right: 1rem !important;
    padding-left: 1rem !important;

    margin-right: $layout-margin;
    margin-left: 0px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.deposit-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .qrcode {
    margin-bottom: 20px;
  }
}
