@import "../../styles/var";

.container-tx-button {
  display: flex;
  flex-direction: row;

  .button {
    flex: 1;

    margin-right: $layout-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}

.deposit-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .qrcode {
    margin-bottom: 20px;
  }
}
