.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
  margin: 0px;
  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #5f38fb;
      border: 1px solid transparent;
    }

    &:checked + .slider::before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
      background-color: white;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid #5f38fb;

    &::before {
      position: absolute;
      width: 27px;
      content: "";
      height: 27px;
      left: 3px;
      top: 1px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
