**/*.png
**/*.svg
**/*.ttf
**/*.woff
**/*.woff2
**/*.secret
**/*.md
**/*.webm
.DS_Store

node_modules

dist/*
prod/*
build/*

Podfile.lock
build.gradle

injected-provider.bundle.js

.gitsecret/*
*.styl
.github/*

.eslintignore
.prettierignore

android
ios

scripts/postinstall
noop-keplr-wallet-mobile-private/build
crypto-polyfill/*
