.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .back-button {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 24px;
      height: 24px;

      &:hover {
        cursor: pointer;
      }
    }

    .origin {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 4px;
      margin-bottom: 10px;

      .tooltip {
        border-radius: 6px;

        padding: 5px 10px;

        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #ffffff;
      }

      .text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 4px 12px;

        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        /* Platinum/Platinum 400 */
        color: #323c4a;

        /* Platinum/Platinum 50 */
        background: #eff3fa;
        border-radius: 40px;
      }
    }

    .chain-container {
      display: flex;
      flex-direction: column;

      max-height: 405px;

      .chain-info-container {
        background: white;
        border-radius: 8px;
        overflow: auto;

        .chain-info {
          margin-bottom: 0;
          font-size: 12px;
          overflow: visible;
          background: transparent;
        }
      }

      .developer-info {
        margin-top: 8px;
        margin-bottom: 25px;

        height: inherit;
      }

      .approve-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 16px;
        padding: 16px;
        gap: 6px;

        .title-container {
          display: flex;
          align-items: center;

          .text {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 143% */

            text-align: center;

            /* Platinum/Platinum 300 */
          }
        }

        .content {
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 17px;
        }

        .link {
          cursor: pointer;

          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 17px;

          text-decoration-line: underline;
        }
      }
    }

    .info {
      /* Platinum/Platinum 50 */
      background: #eff3fa;

      /* Platinum/Platinum 100 */
      border: 1px solid #cbd3df;
      border-radius: 8px;

      color: #566172;
    }

    .alert {
      /* Red/Red 50 */
      background: #fff7f8;

      /* Red/Red 200 */
      border: 1px solid #fc91a6;
      border-radius: 8px;

      color: #f0224b;
    }

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 16px;
      margin-top: 115px;

      .image-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;

        .image-background {
          width: 80px;
          height: 80px;
          background: linear-gradient(
            315deg,
            #0084da 13.07%,
            rgba(0, 132, 218, 0.31) 85.23%
          );
          border-radius: 50%;
          opacity: 0.3;
        }

        .logo-image {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 69px;
          height: 69px;
          border-radius: 50%;
        }
      }

      .dots {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #afd7f3;
        }
      }
    }

    .header {
      margin-top: 18px;
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #2c2e53;
    }

    .tag {
      margin-bottom: 21px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 4px 12px;

      > * {
        display: flex;
        gap: 4px;

        padding: 4px 12px;
        border-radius: 40px;

        background: #eff3fa;

        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #566172;
      }
    }

    .paragraph {
      padding: 0 24px;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      text-align: center;

      flex: 1;

      /* Platinum/Platinum 300 */

      color: #566172;
    }

    .chain-detail-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      margin-bottom: 27px;

      font-weight: 600;
      font-size: 14px;
      line-height: 17px;

      /* Blue/Blue 400 */
      color: #314fdf;
    }

    ul {
      list-style: none;
      font-size: 14px;
      padding: 0;
      width: fit-content;
      margin: auto;
      color: #525f7f;

      li:before {
        content: "- ";
      }
    }

    .info-with-link {
      margin-bottom: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      /* Platinum/Platinum 50 */
      background: #eff3fa;
      border-radius: 8px;
      gap: 10px;

      > .info {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #566172;
      }

      .github-link {
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;

          > svg > path {
            /* Platinum/Platinum 300 */
            fill: #566172;
          }
        }
      }

      > .link {
        align-self: flex-end;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        /* Blue/Blue 400 */
        color: #314fdf;

        > img {
          width: 16px;
          height: 16px;
          margin-left: 4px;
        }
      }
    }

    .warning {
      display: flex;
      flex-direction: row;

      .img-container {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 8px;

        img {
          height: 36px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.75;
          letter-spacing: -0.3px;
          color: white;
        }

        .paragraph {
          font-size: 13px;
          color: white;
        }
      }
    }
  }

  .buttons {
    justify-self: flex-end;
    display: flex;
  }

  .button {
    flex: 1;
  }
}
