@import "../../styles/var";

.buttons {
  display: flex;
}

.button {
  flex: 1;

  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tab-container {
  height: 400px;
  overflow: auto;
}

.message {
  height: 400px;
  overflow: visible;
  background: transparent;
}
