@charset "utf-8";

@import "../../../../node_modules/argon-dashboard-react/src/assets/plugins/nucleo/css/nucleo.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap");
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothic.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothicLight.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothicBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-Thin.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-ThinItalic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-ThinItalic.woff?v=3.19")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-ExtraLight.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-ExtraLight.woff?v=3.19")
      format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-ExtraLightItalic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-ExtraLightItalic.woff?v=3.19")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-Light.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-LightItalic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-LightItalic.woff?v=3.19")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-Regular.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-Italic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-Medium.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-MediumItalic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-MediumItalic.woff?v=3.19")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-SemiBold.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-SemiBold.woff?v=3.19")
      format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-SemiBoldItalic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-SemiBoldItalic.woff?v=3.19")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-Bold.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-BoldItalic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-BoldItalic.woff?v=3.19")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-ExtraBold.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-ExtraBold.woff?v=3.19")
      format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-ExtraBoldItalic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-ExtraBoldItalic.woff?v=3.19")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-Black.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../public/assets/fonts/Inter/Inter-BlackItalic.woff2?v=3.19")
      format("woff2"),
    url("../public/assets/fonts/Inter/Inter-BlackItalic.woff?v=3.19")
      format("woff");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../public/assets/fonts/Inter/Inter-roman.var.woff2?v=3.19")
    format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../public/assets/fonts/Inter/Inter-italic.var.woff2?v=3.19")
    format("woff2");
}

$font-family-base: "Nunito Sans", sans-serif;
$body-color: black;
@import "../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard-react";

@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

@import "var";

html {
  width: $popup-size-width;
  height: $popup-size-height;
  margin: auto;
  background-color: white;

  overflow: auto;
}

body {
  width: $popup-size-width;
  height: $popup-size-height;

  background-color: $background-color;

  &[data-lang="ko"] {
    word-break: keep-all;
    word-wrap: break-word;

    font-family: "Nanum Barun Gothic", sans-serif !important;
  }
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.form-text,
.valid-feedback,
.invalid-feedback {
  position: absolute;
}

.form-control {
  color: black;

  &:focus {
    color: black;
  }
}

button[data-loading="true"] {
  color: transparent !important;
  pointer-events: none;

  &::after {
    position: absolute !important;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));

    -webkit-animation: spinAround 0.5s infinite linear;
    animation: spinAround 0.5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
  }
}
