@charset "utf-8";

@import "../../../../node_modules/argon-dashboard-react/src/assets/plugins/nucleo/css/nucleo.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap");
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothic.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothicLight.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothicBold.ttf);
  font-weight: bold;
}

$font-family-base: "Nunito Sans", sans-serif;
$body-color: black;
@import "../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard-react";

@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

@import "var";

html {
  width: $popup-size-width;
  height: $popup-size-height;
  margin: auto;
  background-color: white;

  overflow: auto;
}

body {
  width: $popup-size-width;
  height: $popup-size-height;

  background-color: $background-color;

  &[data-lang="ko"] {
    word-break: keep-all;
    word-wrap: break-word;

    font-family: "Nanum Barun Gothic", sans-serif !important;
  }
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.form-text,
.valid-feedback,
.invalid-feedback {
  position: absolute;
}

.form-control {
  color: black;

  &:focus {
    color: black;
  }
}

button[data-loading="true"] {
  color: transparent !important;
  pointer-events: none;

  &::after {
    position: absolute !important;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));

    -webkit-animation: spinAround 0.5s infinite linear;
    animation: spinAround 0.5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
  }
}
