@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

$radius-small: 6px;
$radius: 10px;
$radius-large: 14px;

@import "~bulma/bulma";

@import "var";

html {
  width: $popup-size-width;
  height: $popup-size-height;

  background-color: rgb(240, 240, 240);
}

body {
  width: $popup-size-width;
  height: $popup-size-height;

  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}
