@import "../../../../styles/var";

.container {
  margin: 0 calc(#{$layout-padding} * -1) calc(#{$layout-padding} * -1);

  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.plusIcon {
  display: flex;
  width: 48px;
  height: 32px;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  margin: 17px;
  background: transparent;
  color: white;
}
.edit {
  display: flex;
  gap: 6px;
}
