@import "../../../../styles/var";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  input:read-only {
    box-shadow: none !important;
    background: transparent;
    padding: 0;
    height: 20px;
    display: flex;
    padding: 12px 18px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
  }
}

// .formGroup {
//   margin-bottom: 2.5rem;
// }

.label {
  color: white;
  opacity: 0.6;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 400;
  margin-top: 16px;
}
.input {
  color: white;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  height: 43px;
}
.input:focus {
  color: white;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  height: 43px;
  border: 1px solid #7655fc !important;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: -18px;
}
