.chatContainer {
  background-color: #fff;
  border-radius: 5px;
  margin-left: -8px;
  margin-right: -12px;
  margin-bottom: -12px;
  height: auto;
  .title {
    text-align: left;
    font-size: 20px;
    color: #525f7f;
    line-height: 16px;
    font-weight: 500;
    margin: 12px;
  }

  .groupsArea {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 63vh;
    gap: 10px;
    overflow-y: auto;
    overflow-x: clip;
    .group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      cursor: pointer;

      .initials {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #d0def5;
        color: #525f7f;
        margin-right: 8px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .unread {
          position: absolute;
          top: -4px;
          left: -4px;
          width: 12px;
          height: 12px;
          background: #d43bf6;
          border-radius: 50%;
        }
      }
      .messageInner {
        width: 80%;
        .name {
          font-weight: 400;
          font-size: 15px;
          color: #525f7f;
          height: 20px;
        }
        .messageText {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          white-space: nowrap;
          font-weight: 400;
          font-size: 15px;
          color: #808da0;
          height: 20px;
        }
      }
    }
    .resultText {
      color: #808da0;
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}

.locked-inner-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  color: #808da0;

  .img-lock {
    height: 120px;
    margin-bottom: 20px;
  }
}

.loader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
