.poweredByNoteContainer {
  margin: auto 0 0;
  color: #808da0;
  border-top: 1px solid #f2f3f6;
  cursor: pointer;

  .poweredByNoteText {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 10px 16px 8px;

    margin: 0;
    margin-bottom: -10px;
  }
}
