.chain-list-container {
  padding: 12px;
  min-width: 200px;
  text-align: center;
  max-height: 300px;
  overflow-y: auto;

  .chain-name {
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:global(.selected) {
      cursor: auto;
      color: white;
    }

    &:not(:global(.selected)):hover {
      background: rgba(255, 255, 255, 0.1);
      color: white;
    }

    margin-top: 4px;
    &:first-child {
      margin-top: 0;
    }

    .remove-btn {
      position: absolute;
      right: 0;
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
}
