.innerContainer {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .imgLock {
    height: 82px;
    width: 82px;
  }

  p {
    color: #fff;
    text-align: center;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.8;
  }

  b {
    width: 100%;

    margin-bottom: 24px;

    font-size: 14px;
    letter-spacing: -0.3px;
    color: #32325d;
  }
}
.heading {
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
