.container {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.inputField,
.inputField:focus {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
