.messageBox {
  border-radius: 0px 16px 16px 16px;
  max-width: 300px;
  padding-left: 8px;
  padding-top: 8px;
  width: fit-content;
  padding-bottom: 8px;
  box-shadow: 0px 1px 3px rgba(50, 50, 93, 0.15);
  background-color: #ffffff;
  padding-right: 8px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 17px;
  color: #525f7f;
  font-size: 15px;
  margin: 4px 4px;
}

.senderBox {
  border-radius: 16px 0px 16px 16px;
  background-color: #d0def5;
}
.currentDate {
  color: #525f7f;
  margin: 0 auto;
  max-width: 200px;
  padding: 4px;
  border-radius: 10px;
}
.currentDateContainer {
  text-align: center;
}

.senderAlign {
  display: flex;
  justify-content: end;
}

.receiverAlign {
  display: flex;
  justify-content: start;
}

.message {
  padding-right: 30px;
  padding-bottom: 3px;
  overflow-wrap: break-word;
}

.timestamp {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  font-size: 12px;
}
