.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #3b82f6;
    }

    &:checked + .slider::before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
      background-color: white;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    border: 2px solid #3b82f6;

    &::before {
      position: absolute;
      width: 18px;
      content: "";
      height: 18px;
      left: 1px;
      top: 1px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
      background-color: #3b82f6;
    }
  }
}

.notificationOptionContainer {
  padding: 16px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  .notificationOption {
    color: #525f7f;
    display: inline;
    margin-left: 8px;
  }
}
