.hr {
  background-color: gray;
  margin: 0;
  height: 1px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.msg-container {
  max-height: 140px;

  overflow: auto;
  flex: 1;

  hr {
    margin: 8px 0;
  }

  .msg {
    display: flex;
    flex-direction: row;

    .icon {
      display: flex;
      flex-direction: column;
      margin: 0 10px 0 8px;
      width: 24px;
      text-align: center;

      i {
        font-size: 20px;
        line-height: 20px;
      }
    }

    .content-container {
      display: flex;
      flex: 1;
      flex-direction: column;

      .content-title {
        font-size: 16px;
        font-weight: bold;
      }

      .content {
        font-size: 12px;
        color: gray;
      }
    }
  }
}

.eth-ledger-blind-signing-warning {
  padding: 20px 0;
  background: #f7f9fc;
  border-radius: 6px;

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #323c4a;
    margin-bottom: 10px;
    margin-left: 28px;
  }

  .list {
    font-size: 14px;
    line-height: 20px;
    color: #566172;
    padding-inline-start: 36px;
    margin-bottom: 0;
  }
}
