@import "../../styles/var";

.tabs {
  ul {
    list-style: none;
    display: flex;
    flex: 1;
    padding: 0;

    li {
      flex: 1;
      text-align: center;
      border-bottom-color: #dbdbdb;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding-bottom: 8px;

      &:global(.active) {
        border-bottom-color: #5e72e4;
        color: #5e72e4;
      }
    }
  }

  .tab {
    cursor: pointer;
    text-decoration: none;
  }
}

.buttons {
  display: flex;
  padding-top: 15px;
}

.button {
  flex: 1;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tab-container {
  height: 342px;
  overflow: auto;

  &.data-tab {
    overflow: auto;
  }
}

.message {
  height: 400px;
  font-size: 12px;
  overflow: visible;
  background: transparent;
}
