.container-account {
  display: flex;
  flex-direction: row;
}

.inner-container-account {
  display: flex;
  flex-direction: column;

  .my-account {
    font-size: 18px;
    font-weight: bold;
  }

  .address {
    min-height: 30px;
    font-size: 20px;

    :global(.address-tooltip) {
      font-size: 16px;
      text-align: center;
    }
  }
}

.inner-container-account-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-empty {
  flex: 1;
}
