.containerInner {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  .paragraphMain {
    line-height: 1.35;
  }

  .paragraphSub {
    line-height: 1.35;
    color: #8898aa;
  }

  .vertical {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .grants {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 12px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;

    padding: 14px;

    background: #f8f9fc;
    border-radius: 6px;

    cursor: pointer;

    .title {
      display: flex;
      flex-direction: row;

      gap: 4px;

      font-weight: 400;
      font-size: 14px;
      line-height: 14px;

      color: #132340;

      .bold {
        font-weight: 600;
      }

      .tooltip {
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;

        padding: 2px 4px;
      }
    }

    .expiration {
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;

      color: #8b8b9a;
    }
  }
}
