.button {
  padding: 8px;
  color: #fff;
  text-align: center;
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  width: 100%;
}

.heading {
  width: 328px;
  height: 38px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #525f7f;
}

.searchContainer {
  padding: 10px 0;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;

  .searchBox {
    display: flex;
    padding: 5px;
    flex: 1;
    background-color: #f2f3f6;
    border-radius: 4px;
    align-items: center;
    gap: 10px;

    img {
      width: 16px;
      height: 16px;
      pointer-events: none;
    }

    input {
      border: none;
      outline: none;
      background: transparent;
      flex-grow: 1;

      &::placeholder {
        color: #525f7f;
      }
    }
  }
}

.listContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 16px;
  width: 328px;
  height: 325px;
  overflow-y: auto;
  border: 1px solid #e5e7e6;
  border-radius: 8px;

  .resultText {
    color: #808da0;
    font-weight: 400;
    font-size: 15px;
    margin: auto;
    p {
      margin: 0;
      text-align: center;
    }
  }
  .isLoading {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    text-align: center;
    height: 100%;
  }
}

.buttonContainer {
  text-align: center;

  p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #525f7f;
    margin: 2vh 0;
  }
}
