@mixin notification {
  position: fixed;
  width: 100%;
  max-width: 340px;
  padding: 8px;

  z-index: 10000;

  li {
    margin-top: 8px;
  }

  li:first-child {
    margin-top: 0;
  }

  .alert-dismissible .close {
    top: 50% !important;
    right: 1rem !important;
  }
}

#notification-top-right {
  @include notification;

  top: 0;
  right: 0;
}

#notification-top-left {
  @include notification;

  top: 0;
  left: 0;
}

#notification-top-center {
  @include notification;

  top: 0;
  left: 50%;

  transform: translateX(-50%);
}
