@import "../../../styles/var";

.notificationSettingContainer {
  margin: 0 calc(#{$layout-padding} * -1) calc(#{$layout-padding} * -1);

  display: flex;
  flex-direction: column;
  height: 100%;

  .notificationOptionMainContainer {
    border-bottom: 1px solid #e9ecef;

    .notificationOptionContainer {
      padding: 16px;

      .notificationOption {
        font-family: "Inter", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #525f7f;
        display: inline;
        margin-left: 8px;
      }
    }

    .notificationOffMsg {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      margin: 0 16px 8px;
      color: #808da0;
    }
  }
}
