.agentContainer {
  text-align: center;

  .optionsLabel {
    margin-left: 5px;
  }
  img {
    margin: 0 auto;
    width: 50%;
    display: block;
    border-radius: 500px;
    margin-top: 10px;
  }
  .infoContainer {
    h3 {
      color: #3b82f6;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0.8rem;
    }
    p:nth-of-type(2) {
      margin-bottom: 0 !important;
    }
  }
  button {
    padding: 8px;
    font-size: medium;
    color: #fff;
    background-color: #3b82f6;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
}
