.rowSubtitle {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  // margin-left: 10px;
}

.container {
  padding: 16px;
  margin: 0px -12px;
  width: 333px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 16px;
}

.activityCol {
  font-size: small;
  display: flex;
  align-items: center;
  margin: 3px;
}

.govActivityHeading {
  display: flex;
  justify-content: space-around;
}
.govImage {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.hr {
  border: none;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.activityRow {
  font-style: Lexend;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  // justify-content: space-between;
  height: 83px;
}
.middle {
  // margin-left: 15px;
  align-items: baseline;
  display: flex;
  flex-direction: column;
}
