.activityRow {
  color: #808da0;
  font-size: small;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.activityContainer:hover {
  background: #f0f0f0;
}

.container {
  padding: 16px;
  background-color: #ffffff;
  margin: 0px -12px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 16px;
}

.activityCol {
  font-size: small;
  display: flex;
  align-items: center;
  margin: 3px;
  color: #808da0;
}

.buttonRow {
  color: #808da0;
  font-size: small;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50%;
}

.buttonCol {
  font-size: small;
  display: flex;
  align-items: center;
  margin: 3px;
  width: 50%;
}

.activityContainer {
  padding: 10px;
  border-top: grey solid 0.5px;
  cursor: pointer;
}
