.label {
  color: #fff;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 2px;
}
.input {
  resize: none;
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
  color: white !important;
  height: 32px !important;
  padding-left: 0px !important;
  margin-top: -14px !important;
  font-weight: bold !important;
}
