.label {
  color: #fff;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 8px;
}
.input {
  resize: none;
  box-shadow: none !important;
  border: none !important;
  color: rgba(255, 255, 255, 0.6) !important;
  height: 48px !important;
  font-weight: 400 !important;
  border-radius: 12px;
}

.input:focus {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6) !important;
  border: 1px solid #7655fc !important;
}
