.capslockTooltipArrow {
  left: 10px !important;
}
.text {
  margin-top: 24px;
  color: #fff;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  opacity: 0.6;
}
.input {
  background: transparent;
  margin-bottom: none;
  color: #fff;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  width: 285px;
  &:hover {
    background: transparent;
    color: white;
  }
  &:focus {
    background: transparent;
    color: white;
  }
  &::placeholder {
    color: white;
  }
}
.password-input-container {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 333px;
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &:hover {
    background: transparent;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--Indigo-Indigo-400, #7655fc);
  }
  &:focus {
    background: transparent;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--Indigo-Indigo-400, #7655fc);
  }
  &::placeholder {
    color: white;
  }
}
.eye {
  margin-right: 12px;
  cursor: pointer;
}
