@charset "utf-8";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "../../../palette";

$radius-small: 4px;
$radius: 6px;
$radius-large: 10px;

@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

$family-sans-serif: "Noto Sans", sans-serif;

@import "~bulma/bulma";

@import "var";

html {
  width: $popup-size-width;
  height: $popup-size-height;
  margin: auto;
  background-color: white;

  overflow: auto;
}

body {
  width: $popup-size-width;
  height: $popup-size-height;

  background-color: $background-color;
}

* {
  box-sizing: border-box;
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  // Turn off the autofill effect.
  transition: background-color 5000s ease-in-out 5000s;
}
