@charset "utf-8";

@import "~argon-dashboard-react/src/assets/plugins/nucleo/css/nucleo.css";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~argon-dashboard-react/src/assets/scss/argon-dashboard-react";

@import "../../../palette";

@import "var";

html {
  width: $popup-size-width;
  height: $popup-size-height;
  margin: auto;
  background-color: white;

  overflow: auto;
}

body {
  width: $popup-size-width;
  height: $popup-size-height;

  background-color: $background-color;
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}
