@charset "utf-8";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

$radius-small: 6px;
$radius: 10px;
$radius-large: 14px;

@import "../../../../node_modules/bulma/bulma";

@import "var";

html {
  width: $popup-size-width;
  height: $popup-size-height;

  background-color: rgb(240, 240, 240);
}

body {
  width: $popup-size-width;
  height: $popup-size-height;
}

* {
  box-sizing: border-box;
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}
