.buttons {
  display: flex;

  .button {
    flex: 1;

    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    &:not(:global(.btn-primary)) {
      background-color: white;
    }

    &:focus {
      z-index: unset;
    }

    .title {
      font-weight: bold;
    }

    .fiat {
      font-size: 4px;
    }

    .coin {
      font-size: 4px;
    }
  }
}
