.input {
  box-shadow: none !important;

  // Disable [disabled] effect.
  &[disabled] {
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
  }
}

:global(.field) {
  margin-bottom: 1rem !important;
}

:global(.field:last-of-type) {
  margin-bottom: 1.5rem !important;
}

:global(.fields .field) {
  margin-bottom: 0 !important;
}

:global(.fields) {
  margin-bottom: 1rem !important;
}

:global(.field.for-label) {
  margin-bottom: 0.5rem !important;
}

:global {
  .help {
    position: absolute !important;
    font-size: 1rem !important;
    margin-top: -0.1rem !important;
  }
}
