@import "../../styles/var";
@import "../../styles/var-bootstrap";

:global(body)[data-centered="true"] {
  height: 85vh;
  background-color: white;

  overflow: visible !important;

  :global(#app) {
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;

  :global(.btn) {
    margin-left: 0;
    margin-right: 0;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .logo-image {
      width: 105px;
      height: 105px;
    }

    .logo-text {
      margin-left: 24px;
      margin-bottom: 6px;
    }
  }

  .paragraph {
    margin-top: 22px;
    font-weight: 500;
    font-size: 27px;
    line-height: 41px;
  }

  .title {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    color: #535f7e;
  }

  .new-mnemonic {
    font-family: "Courier Prime", serif;
    font-size: 16px;
    letter-spacing: -0.36px;

    padding: 20px 30px;
    text-align: center;
  }

  .mnemonic {
    font-family: "Courier Prime", serif;
    font-size: 16px;
    letter-spacing: -0.36px;

    padding: 20px 30px;
    text-align: center;

    &:read-only {
      background-color: white;
    }

    &[readonly] {
      background-color: white;
    }
  }

  .sub-content {
    margin-top: 34px;

    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #9092b6;
  }

  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 14px;
  column-gap: 29px;

  button {
    box-shadow: 1px 1px 4px rgba(14, 14, 16, 0.15);
    border-radius: 8px;

    padding: 14.5px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    display: flex;
    align-items: center;
  }
}

.alert-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 10px;
}

.submit-button {
  display: flex;

  button {
    width: 160px;
  }
}

.derivation-path-toggle {
  margin-top: 8px;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  color: $platinum;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  img {
    margin-right: 4px;
  }

  &:hover {
    cursor: pointer;
  }
}

.derivation-path {
  margin-bottom: 36px;
}

.dropdown-toggle {
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: normal;
  color: #0f1c32;

  border: 1px solid #596e8d;
  box-sizing: border-box;
  border-radius: 4px !important;
  padding: 10px 10px 10px 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 92px;

  &:hover {
    /* Platinum 50 */
    background: #ecf2fb;
  }
}
