@import "../../styles/var";

:global(body)[data-centered="true"] {
  height: 85vh;
  background-color: white;

  overflow: visible !important;

  :global(#app) {
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;

  :global(.btn) {
    margin-left: 0;
    margin-right: 0;
  }

  .logo-container {
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    .logo-image {
      width: 105px;
      height: 105px;
    }

    .logo-text {
      margin-left: 24px;
      margin-bottom: 6px;
    }
  }

  .paragraph {
    margin-top: 22px;
    font-weight: 500;
    font-size: 27px;
    line-height: 41px;
  }

  .title {
    font-size: 24px;
    letter-spacing: -1.07px;
    margin-bottom: 24px;

    color: #525f7f;
  }

  .new-mnemonic {
    font-family: "Courier Prime", serif;
    font-size: 16px;
    letter-spacing: -0.36px;

    padding: 20px 30px;
    text-align: center;
  }

  .mnemonic {
    font-family: "Courier Prime", serif;
    font-size: 16px;
    letter-spacing: -0.36px;

    padding: 20px 30px;
    text-align: center;

    &:read-only {
      background-color: white;
    }

    &[readonly] {
      background-color: white;
    }
  }

  .sub-content {
    margin-top: 34px;

    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #9092b6;
  }

  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  button:not(:last-child) {
    margin-right: 8px;
  }
  button {
    margin-bottom: 8px;
    margin-left: 0 !important;
  }
}

.alert-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 10px;
}
