@import "../../styles/var";

$container-width: 420px;

:global(body)[data-centered="true"] {
  height: 85vh;
  background-color: white;

  overflow: visible !important;

  :global(#app) {
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.container {
  width: $container-width;
  margin-left: ($popup-size-width - $container-width) / 2;

  display: flex;
  flex-direction: column;
  background-color: white;

  :global(.btn) {
    margin-left: 0;
    margin-right: 0;
  }

  .logo-container {
    margin-top: 40px;
    margin-bottom: 40px;

    display: flex;

    .icon {
      height: 100px;
    }

    .logo-inner-container {
      margin-top: 8px;
      margin-left: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;

      .logo {
        height: 100px;
      }

      .paragraph {
        font-size: 16px;
        line-height: 1;
      }
    }
  }

  .title {
    font-size: 24px;
    letter-spacing: -1.07px;
    margin-bottom: 24px;

    color: #525f7f;
  }

  .mnemonic {
    font-family: "Courier Prime", serif;
    font-size: 16px;
    letter-spacing: -0.36px;

    padding: 20px 30px;
    text-align: center;

    &:read-only {
      background-color: white;
    }

    &[readonly] {
      background-color: white;
    }
  }

  .sub-content {
    margin-top: 34px;

    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #9092b6;
  }

  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  button:not(:last-child) {
    margin-right: 8px;
  }
  button {
    margin-bottom: 8px;
    margin-left: 0 !important;
  }
}
