@import "../../../styles/var";

:global {
  .header {
    width: 100%;
    height: $header-height;
    z-index: 100;
    background: rgba(0, 13, 61, 0.4);
    // backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    font-size: 16px;
    color: white;
    &.fixed {
      background: rgba(0, 13, 61, 0.4);
    }
  }

  .headerMenuLeft {
    position: absolute;
    height: $header-height;
    top: 0;
  }

  .headerSection {
    flex: 1;
    height: $header-height;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerMenuRight {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: $header-height;
    top: 0;
    right: 0;
  }
}
