@import "../../styles/var";

.container-account {
  flex: 5;
  padding: $layout-margin;
  margin: 0 (-$layout-margin);

  background-color: white;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.container-account-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-txs {
  flex: 4;
  padding: $layout-margin;
  margin: 0 (-$layout-margin);
}
