@import "../../styles/var";
@import "../../styles/mixin";

.container-card {
  @include main-card;
}

.container-account-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px - 2 * $main-card-padding;
}
