@import "../../styles/var";

.container-tx-button {
  display: flex;
  flex-direction: row;

  .button {
    flex: 1;

    margin-right: $layout-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}

.deposit-modal {
  .address {
    text-align: center;
    font-size: 16px;

    border: solid 1px #e6e6e6;
    border-radius: 100px;
    padding: 0 8px;

    color: #474747;

    cursor: pointer;
  }
}
