@import "../../styles/var";

.container-tx-button {
  display: flex;
  flex-direction: row;

  :global(.button) {
    flex: 1;

    margin-right: $layout-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}
