@import "../../styles/var";

.container-tx-button {
  display: flex;
  flex-direction: row;

  margin-top: 16px;

  :global(.button) {
    flex: 2;

    margin-right: $layout-margin;

    &:first-child {
      flex: 5;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
