@import "../../styles/var";
@import "../../../../palette";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: white;
}

.top-container {
  height: $header-height;
}

.middle-container {
  flex: 1 1 auto;
  overflow-y: scroll;

  :global(.menu) {
    li {
      i {
        margin-left: 32px;
        margin-right: 20px;
        font-size: 20px;
        width: 30px;
        vertical-align: middle;
      }

      a {
        border-radius: 0;

        padding: 20px 8px;
        font-size: 16px;
      }
    }

    :global(.menu-list a.is-active) {
      color: $primary;
      background-color: white;

      border-right-style: solid;
      border-right-width: 4px;
      border-color: $primary;
    }
  }
}

$bottom-container-height: 60px;
$dropdown-width: 90%;
$dropdown-height: 40px;
$dropdown-margin: ($bottom-container-height - $dropdown-height) / 2;

.bottom-container {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: $bottom-container-height;

  :global(.dropdown) {
    width: $dropdown-width;
    height: $dropdown-height;
    margin-top: $dropdown-margin;

    :global(.dropdown-trigger) {
      width: 100%;
      height: $dropdown-height;

      :global(.button) {
        width: 100%;
        height: $dropdown-height;
      }
    }

    :global(.dropdown-menu) {
      width: 100%;

      a {
        text-align: center;
        padding-right: 0;
        font-size: 16px;
      }
    }
  }
}
