name: Lint
on:
  pull_request:
  push:

jobs:
  lint:
    name: Lint code base
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm install --global yarn
      - run: yarn ci-lint
