.container {
  height: 100%;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.empty {
  flex: 1;
}

.icon {
  width: 100px;
  height: 100px;

  margin-bottom: 30px;
}

.logo {
  object-fit: contain;
  height: 32px;

  margin-bottom: 4px;
}

.subtitle {
  font-size: 18px;
}
