.searchInput {
  background: transparent;
  border: none;
  width: 290px;
  color: white;
  font-weight: 400;
  &::placeholder {
    color: white;
  }
}

.searchInput:disabled {
  cursor: not-allowed;
}
